@model X.PagedList.IPagedList<MessageInfoViewModel>
@using X.PagedList.Mvc.Core

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@{
    ViewBag.Title = "Messages";
}

<h2>Список сообщений</h2>

<table class="table">
    <tr>
        <th>Название</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
        </tr>
    }

</table>
<br />
Страница @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) из @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Messages", "Home", new { page }))